* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Karla', sans-serif;
}

main{
    width: 97%;
    max-width: 550px;
    height: 100%;
    display: flex;
    background-color: rgb(37, 37, 37);
    color: white;
}
h1 {
    text-align: center;
    font-size: 4rem;
}