* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Karla', sans-serif;
}
:root {
    --black: #1C1C1C;
    --dark-blue: #1F2937;
    --green: #55F991;
    --main-btn: #10B981;
    --soft-green: #ECFDF5;
    --medium-grey: #D5D4D8;
    --dark-grey: #2F3E53;
    --white: #ffffff;
}
.projects-container {
    width: 95%;
    margin: 20px;
    padding: 30px;
    font-size: 2.5rem;
    color: var(--green);
    background-color: var(--dark-blue);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h1 {
    margin: 30px;
    text-align: center;
    font-size: 4rem;
}
p {
    min-width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: var(--main-btn);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p:hover {
    cursor: pointer;
}
p a{
    text-decoration: none;
    color: var(--white);
}
footer {
    font-size: 2rem;
}