* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 62.5%;
}
body {
    background-image: url("assets/table.png");
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 1.8rem;

}
h1 {
    color: goldenrod;
    font-size: 3.4rem;
    margin: 20px 0;
}

#message-el {
    margin: 10px 0 20px;
    font-style: italic;
    font-size: 2rem;
}

button {
    width: 150px;
    margin: 20px 0;
    padding: 5px 0;
    color: #016f32;
    background-color: goldenrod;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}