* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    background-color: var(--black);
}
:root {
    --black: #1C1C1C;
    --dark-blue: #1F2937;

}

article {
    background-color: var(--dark-blue);
    max-width: 550px;
    max-height: 550px;
    min-height: 450px;
    margin: 30px auto;
    padding: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}