* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    background-color: var(--black);
}
:root {
    --black: #1C1C1C;
    --dark-blue: #1F2937;
    --green: #55F991;
    --medium-grey: #D5D4D8;
    --main-btn: #10B981;
    --dark-grey: #2F3E53;
}

article {
    background-color: var(--dark-blue);
    max-width: 550px;
    max-height: 550px;
    min-height: 450px;
    margin: 30px auto;
    padding: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.top {
    width: 100%;
    font-family: 'Karla', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 4rem;
    margin-bottom: 30px;
}
.top-white{
    color: white;
}
.top-green {
    color: var(--green);
}
.top p {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.8rem;
    color: var(--medium-grey);
}

.middle {
    width: 100%;
    padding: 0 0 35px;
    font-size: 2rem;
    border-bottom: 2px solid var(--dark-grey);
}
.middle button {
    width: 220px;
    height: 38px;
    color: white;
    font-weight: 500;
    background-color: var(--main-btn);
    border: none;
    border-radius: 5px;
}
.middle button span {
    margin: 10px;
}

.bottom {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bottom span {
    min-width: 210px;
    height: 40px;
    margin: 10px 0;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3.2rem;
    color: var(--green);
    background-color: var(--dark-grey);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}